<h1>Edit Author</h1>


<%= simple_form_for @author do |f| %>
    <%= f.file_field :author_avatar %>

    <%= f.input :name %>
    <%= f.input :about%>
    <%= f.button :submit, :class => 'btn-custom2'%>
<%end%>
