
<div class="row">
  <div class="col-md-4">

    <%= image_tag @author.author_avatar.url(:original), class: 'author-show' %>

  </div>

  <div class="col-md-8">
    <div class="book-info">
      <% if @author.name.blank?%>
      <% else %>
          <h2 class="book-title"><%= @author.name%> </h2>
      <% end %>

      <% if @author.age.blank?%>
      <% else %>
          <h2 class="book-title">Age: <%= @author.age%> years</h2>
      <% end %>

      <% if @author.gender_id.blank?%>
      <% else %>
          <% if  @author.gender_id. == 1%>
              <h2 class="book-title">Gender:male</h2>
          <% else %>
              <% if  @author.gender_id. == 2%>
                  <h2 class="book-title">Gender:female</h2>
              <% else %>

              <h2 class="book-title">Gender:some stupid person gave me unknown number of gender</h2>
              <% end %>
          <% end %>
      <% end %>

      <% if @author.about.blank?%>
      <% else %>
          <p class="book-desc"><%= @author.about%></p>
    <% end %>


    </div>

      <%= link_to 'Back to authors', authors_path, class: 'btn-author' %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_author_path, class: 'btn-author' %>
      <%= link_to 'Delete', author_path(@author),
                      method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-author' %>
        <% unless @user == nil %>
          <%= button_to 'Delete', authors_path, method: :delete,
                        data: { confirm: 'AAAAAAAAAAHHHH NOOOOOO !!!! Are you sure?!?!?!?!'},
                    class: 'btn btn-danger mr-1' %>
        <% end %>

    <% end %>



  </div>



  </div>


<% if @author.books.blank? %>
    <h1>No books found</h1>
    <% else%>
    <h1>Authors books:</h1>

    <% @author.books.each do |book| %>

        <div class="col-md-3">
          <a href="/books/<%= book.id %>">
            <%= book.title %>
            <%= image_tag book.book_img.url(:book_index), class: "book" %>

          </a>
        </div>

    <% end %>


<% end%>




</div>
