<h1>Edit User</h1>


<%= simple_form_for @user, :html => {:multipart => true} do |f| %>

    <%= f.file_field :avatar %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :user_about%>
    <%= f.input :gender_id, label: 'Gender(1 - male, 2 - female)'%>
    <%= link_to 'Cancel', user_path, class: 'btn-cancel' %>
    <%= f.button :submit, :class => 'btn-custom2'%>
<%end%>
