
<div class="row">
  <div class="col-md-4">

    <%= image_tag @user.avatar.url(:original), class: 'user-show' %>

  </div>

  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @user.first_name%> <%= @user.last_name%></h2>
      <% if @user.created_at.blank?%>
      <% else %>
          <h2 class="book-title">Created: <%= @user.created_at%></h2>
      <% end %>

      <% if @user.last_sign_in_at.blank?%>
      <% else %>
          <h2 class="book-title">Last sign at: <%=  @user.last_sign_in_at%></h2>
      <% end %>
      <% if @user.gender_id.blank?%>
      <% else %>
          <% if  @user.gender_id. == 1%>
              <h2 class="book-title">Gender:male</h2>
          <% else %>
              <% if  @user.gender_id. == 2%>
                  <h2 class="book-title">Gender:female</h2>
              <% else %>

                  <h2 class="book-title">Gender:user gave me unknown number of gender</h2>
              <% end %>
          <% end %>
      <% end %>

      <% if @user.age.blank?%>
      <% else %>
          <h2 class="book-title">Age: <%= @user.age%></h2>
      <% end %>

      <% if @user.country.blank?%>
      <% else %>
          <h2 class="book-title">Country: <%= @user.country%></h2>
      <% end %>

      <% if @user.town.blank?%>
      <% else %>
          <h2 class="book-title">Town: <%= @user.town%></h2>
      <% end %>

      <p class="book-desc"><%= @user.user_about%></p>


      <%= link_to 'Back to users', users_path, class: 'btn-user' %>
      <%= link_to 'Back to books', root_path, class: 'btn-user' %>
          <% if @user.id == current_user.id %>
              <%= link_to 'Edit', edit_user_path, class: 'btn-user' %>
          <% end %>
    </div>



  </div>



</div>



<% if @user.reviews.blank?%>
<% else %>
    <h1><%= @user.first_name%> made a review of:</h1>
    <h3>(Click on the book to view a review)</h3>

    <% @user.reviews.each do |review| %>

        <div class="col-md-3">
          <a href="/books/<%= review.book.id %>">

            <%= image_tag review.book.book_img.url(:book_index), class: "book" %>
          </a>
        </div>

    <% end %>
<% end %>



<% if @user.books.blank?%>

<% else %>

<div class="col-md-8">
<% if @user.books.count == 1 %>
      <h1><%= @user.first_name%> create a page of this book:</h1>
      <% else %>
<h1><%= @user.first_name%> create pages of these books:</h1>
      <%  end%>
<h3>(Click on the book )</h3>

<% @user.books.each do |book| %>

    <div class="col-md-7">
      <a href="/books/<%= book.id %>">

        <%= book.title %>
      </a>
    </div>

<% end %>

</div>


</div>
<% end %>

