<h1>Edit Publisher</h1>


<%= simple_form_for @publisher do |f| %>
    <%= f.file_field :publisher_avatar %>
    <%= f.input :title %>
    <%= f.input :foundation_date %>
    <%= f.input :country %>
    <%= f.input :founder %>
    <%= f.input :ceo %>
    <%= f.input :description%>
    <%= link_to 'Cancel', publisher_path, class: 'btn-cancel' %>
    <%= f.button :submit, :class => 'btn-custom2'%>
<%end%>
