
<div class="row">
  <div class="col-md-4">

    <%= image_tag @publisher.publisher_avatar.url(:original), class: 'publisher-show' %>

  </div>
  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @publisher.title%></h2>
      <h2 class="book-title">Foundation date: <%= @publisher.foundation_date%></h2>
      <h2 class="book-title">Country: <%= @publisher.country%></h2>
      <p class="book-desc"><%= @publisher.description%></p>
    </div>
    <%= link_to 'Back to publishers', publishers_path, class: 'btn-publisher' %>
    <%= link_to 'Edit', edit_publisher_path, class: 'btn-publisher' %>
  </div>

</div>

<% if @publisher.books.blank? %>
    <h1>No books found</h1>
<% else%>
    <h1>Publishers books:</h1>

    <% @publisher.books.each do |book| %>

        <div class="col-md-3">
          <a href="/books/<%= book.id %>">

            <%= image_tag book.book_img.url(:book_index), class: "book" %>

          </a>
        </div>

    <% end %>


<% end%>