
<div class="row">
  <div class="col-md-4">

    <%= image_tag @publisher.publisher_avatar.url(:original), class: 'publisher-show' %>

  </div>
  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @publisher.title%></h2>
      <% if @publisher.foundation_date.blank?%>
      <% else %>
          <h2 class="publisher-foundation">Foundation date: <%= @publisher.foundation_date%></h2>
      <% end %>

      <% if @publisher.founder.blank?%>
      <% else %>
          <h2 class="publisher-country">Founder: <%= @publisher.founder%></h2>
      <% end %>
      <% if @publisher.ceo.blank?%>
      <% else %>
          <h2 class="publisher-country">CEO: <%= @publisher.ceo%></h2>
      <% end %>
      <% if @publisher.country.blank?%>
      <% else %>
          <h2 class="publisher-country">Country: <%= @publisher.country%></h2>
      <% end %>


      <p class="book-desc"><%= @publisher.description%></p>
    </div>
    <%= link_to 'Back to publishers', publishers_path, class: 'btn-publisher' %>
    <%= link_to 'Edit', edit_publisher_path, class: 'btn-publisher' %>
    <%= link_to 'Delete', publisher_path(@publisher),
                method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-publisher' %>
  </div>

</div>

<% if @publisher.books.blank? %>
    <h1>No books found</h1>
<% else%>
    <h1>Publishers books:</h1>

    <% @publisher.books.each do |book| %>

        <div class="col-md-3">
          <a href="/books/<%= book.id %>">

            <%= image_tag book.book_img.url(:book_index), class: "book" %>

          </a>
        </div>

    <% end %>


<% end%>