<div class="row">
  <div class="col-md-4">

    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>

  </div>

  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @book.title%></h2>
      <h3 class="book-author"><span>From </span><%= link_to @book.author.name, author_path(@book.author.id)%></h3>
      <h3 class="book-author"><span>Book Publisher: </span><%= link_to @book.publisher.title, publisher_path(@book.publisher.id)%></h3>
      <% if @book.price.blank?%>
          <% else %>
          <h3 class="book-price"><span>Price: </span><%= @book.price%> $</h3>
      <% end %>
      <% if @book.language.blank?%>
      <% else %>
          <h3 class="book-price"><span>Language: </span><%= @book.language%></h3>
      <% end %>
      <% if @book.publication_year.blank?%>
      <% else %>
          <h3 class="book-publication-year"><span>First publication: </span><%= @book.publication_year%></h3>
      <% end %>
      <% if @book.number_of_pages.blank?%>
      <% else %>
          <h3 class="book-number-of-pages"><span>The number of pages: </span><%= @book.number_of_pages%></h3>
      <% end %>
        <h2 class="avg-rating">Average Rating</h2>
        <div class="average-review-rating" data-score=<%= @average_review %>></div>
        <span class="number-of-reviews">Based on <%= @book.reviews.count %> reviews</span>
      <h4>Category:<%= link_to @book.category.name,  params[:category]%></h4>
      <h4>Recommended age for reading:<%= link_to @book.age.name,  params[:age]%></h4>
      <h4 >This page is created by:
        <% if @book.user.first_name.blank?%>
            <%= link_to  @book.user.id, user_path(@book.user.id) %>
        <% elsif @book.user.last_name.blank? %>
            <%= link_to @book.user.first_name , user_path(@book.user.id) %>

        <% else %>
            <%= link_to @book.user.first_name + " " + @book.user.last_name, user_path(@book.user.id) %>
        <% end %>
      </h4>





            <p class="book-desc"><%= @book.description%></p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="reviews">

      <h1>Reviews</h1>
      <%= render @book.reviews %>

      <div>
        <%= link_to 'Add Review', new_book_review_path(@book), class: "btn-custom" %>
      </div>

    </div>

  </div>

</div>

<div class="links btn-group">

  <%= link_to "Back", root_path, class: "btn btn-custom" %>

  <% if user_signed_in? %>

      <% if @book.user_id == current_user.id %>

          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
          <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

      <% end %>

  <% end %>

</div>


<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>


<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>
